#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}





.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app {
  text-align: center;
}

.search {
  margin-bottom: 20px;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}





body {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);

}

.hero {
  display: flex;
}

.app h1 {
  font-size: 5rem;
  color: white;
  filter: drop-shadow(30px 10px 4px #646491);
}

.app {
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.hero-image img {
  max-width: 100%;
  height: auto;

}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  max-width: 500px;
}

.title {
  margin-top: 0;
}

.author,
.publish-year {
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  #root {
    padding: 2rem 5rem;
  }

  .hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .hero-image {
    flex: 1;
    margin-right: 20px;
  }

  .search-box {
    flex: 1;
    margin-top: 0;
  }
}

.navbar {
  background-color: transparent;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbar__item {
  margin-right: 10px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__item {
    margin: 5px 0;
  }
}



.search input {
  padding: 15px;
  font-size: 16px;
  width: 50%;
  box-sizing: border-box;
  margin-right: 2rem;
  border: solid 4px  #EA4C89;
  border-radius: 8px;

  
}




.button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: #6d2a43;
}